[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/purescript.vim"]
	path = .vim/bundle/purescript.vim
	url = https://github.com/raichoo/purescript-vim.git
[submodule ".vim/bundle/dracula-theme"]
	path = .vim/bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule ".vim/bundle/iceberg-theme"]
	path = .vim/bundle/iceberg-theme
	url = git@github.com:cocopon/iceberg.vim.git
[submodule ".vim/bundle/spacegray-theme"]
	path = .vim/bundle/spacegray-theme
	url = git@github.com:ajh17/Spacegray.vim.git
[submodule ".vim/bundle/onedark-theme"]
	path = .vim/bundle/onedark-theme
	url = git@github.com:joshdick/onedark.vim.git
[submodule ".vim/bundle/hybrid-theme"]
	path = .vim/bundle/hybrid-theme
	url = git@github.com:w0ng/vim-hybrid.git
[submodule ".vim/bundle/badwolf-theme"]
	path = .vim/bundle/badwolf-theme
	url = git@github.com:sjl/badwolf.git
[submodule ".vim/pack/plugins/start/vim-ripgrep"]
	path = .vim/pack/plugins/start/vim-ripgrep
	url = git@github.com:jremmen/vim-ripgrep.git
